<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-avatar slot="end">
      <img src="assets/image/img.gif" sizes="small"  [routerLink]="['/tabs/settings']" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-title style="text-align: center;" class="ion-margin">    Welcome To AgroTamta </ion-title>
  <!-- 3 -->
  <div class="im">
    <img  src="assets/image/iconn.gif" sizes="small" class="img"/>
   

    <img src="assets/image/looney-13.png" sizes="large" />
    <img  src="assets/image/iconn.gif" sizes="small" class="img1"/>
    <ion-icon name="arrow-forward-circle-sharp" size="large" [routerLink]="['/tabs/transactions']"> </ion-icon>
</div>

<div class="img3">
<img src="assets/home.jpg"   />
<img src="assets/home1.jpg"  />
</div>
</ion-content>
 

