<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registrationpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-margin">
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input
          label="Full Name"
          placeholder="Enter your full Name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Room"
          type="text"
          placeholder="Enter your room number"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Create Password "
          type="password"
          placeholder="Enter your password"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Email"
          type="email"
          placeholder="email@gmail.com"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Mobile Number"
          type="tel"
          placeholder="918-888-8888"
        ></ion-input>
      </ion-item>
      <ion-input
        label="Outline input"
        label-placement="floating"
        fill="outline"
        placeholder="Enter text"
      ></ion-input>
      <button type="submit" class="btn">Submit</button>
    </ion-list>
  </ion-list>
</ion-content>
