.ion-margin{
    border: 2px rgb(0, 38, 255) solid; 
    margin: 150px;
}
.btn{
    margin-left: 50%;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: #FFC312;
    border-radius: 10px;
}