.tittle{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: red;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgb(235, 235, 235);
}
 
.main{
    background-color: white;
    box-shadow: 0px 0px 10px 3px #ccc;
    transition: 0.6s;
}
.mesh{
    margin-top: 110px;
    text-align: center;
    font-size: 20px;
    color: brown;
}
ion-content {
    --background: url('../../assets/imgh/backform.jfif') no-repeat;
    background-size: cover;
  }

.form{
    margin: 100px 50px 0px 50px;
    // margin: 5px;
    text-align: center;
    // margin: 1px 125px;
    // padding: 0px 0px;
    font-size: 20px;
    border: 2px red solid;
    box-shadow: 20x 0px 0px 10px;
    border-radius: 20px;


}
.login{
    font-size: 39px;
}
input {
    margin-top: 10px;
}
.btn{
    margin-left: 10px;
    font-size: 30px;
}
.underbtn{
    width: 90px;
    height: 30px;
    margin: 5px;
    // top: 21px;
    font-size: 25px;
    color: #222;
    // padding: 5px;
    background: rgb(84, 255, 54);
}
.underbtn1{
        width: 90px;
    height: 30px;
    margin: 5px;
    // top: 21px;
    font-size: 25px;
    color: #222;
    // padding: 5px;
    background: rgb(255, 54, 54);
}