ion-title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
ion-col {
    background-color: #FFFFDB;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }
  